button {
  position: absolute;
  bottom: 10;
  align-self: right;
}



#board {
  margin-top: 10px;
}
#letterX {
  width: 170px;
  height: 135px;
  padding-top: 10px;
}
#letterO {
  width: 170px;
  height: 145px;
}

.box {
  border: 1px solid black;
  height: 150px;
}
